.profileSectionContainer{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.profilesectionActiveContainer{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid black;
    display: flex;
    
    flex-direction: row;
    
}
.profilesectionBackToNormalArrow img{
    width: 35px;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 10px;
}
.profilesectionHeading{
    padding: 10px;
    font-size: 1.3rem;
    font-weight: 450;
    position: relative;
    top: 0.3rem;
}
.w2wUserProfileImg img{
    width: 3.2rem;
    height: 3.2rem;
    padding: 5px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;

}
.w2wUserProfileDropDown i{
    font-size: 1.8rem;
    padding: 5px;
    padding-right: 10px;
    align-items: flex-end;
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    top: 1rem;
    cursor: pointer;

}
.profileSectionDropDown {
    cursor: pointer;
    background-color: rgb(89, 179, 57);
    width: 100px;
    z-index: 1000;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    position: relative;
    

}
.profileSectionDropDown:hover{
    background-color: #f3f3f3;
}
.profileSectionDropDown span{
   font-weight: 450;
   text-align: center;
   position: relative;
    font-size: 1.2rem;

}