# TO SETUP LOCAL SDK
# ENFORCE_WEBPACK_LOCAL - CAN BE TRUE OR FALSE
ENFORCE_WEBPACK_LOCAL=TRUE_or_FALSE

# NEED ABSOLUTE PATH TO DIST UIWEB PACKAGE
LOCAL_PUSH_SDK_UIWEB_ABS_PATH=absolute_path

# STORAGE FOR RESTORING
STORAGE_FOR_RESTORING_PACKAGE_JSON=autopopulated_from_package_json
