:root {
    --rad: .7rem;
    --dur: .3s;
    --color-dark: #2f2f2f;
    --color-light: #fff;
    --color-brand: #57bd84;
    --font-fam: "Lato", sans-serif;
    --height: 5rem;
    --btn-width: 6rem;
    --bez: cubic-bezier(0, 0, 0.43, 1.49);
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
  }


  .intentFilter_buttons{
    width: 100%;
    display: flex;
    position: relative;
}
.intentFilter_buttons h1{
  position: relative;
  padding-left: 10px;
}

  .sidebar_message{
    position: relative;
    margin-top: 10px;
    width: 100%;
    overflow-x: hidden;
    position: absolute;
    max-height: 77vh;
    top: 3rem;
    
  }
  .sidebar_message:hover{
    overflow: hidden;
    overflow-x: hidden;
    position: absolute;
    
  }
  /* ===== Scrollbar CSS ===== */
    /* Firefox */
    body {
      scrollbar-width: auto;
      scrollbar-color: #121212 #fefbfb;
      z-index: 400;
    }
  
    /* Chrome, Edge, and Safari */
    ::-webkit-scrollbar {
      width: 5px;
    }
  
    ::-webkit-scrollbar-track {
      background: #ffffff;
      border-radius: 10px;
      opacity: 0.5;
    }
  
    ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-image: transparent;
    }
    