.kITDl{
    color: black !important;
}

.select__option:hover{
    color: white;
}

.select__option:focus{
    color: white;
}

.iImage:hover{
    cursor: pointer;
}


/* .kITDl:hover{
    color: white !important;
}

 */
