.react-time-picker__button:enabled{
    display: none;
}

.react-time-picker__wrapper {
    border: 0px !important;
    border-radius: 5px !important;
    height: 40px !important;
}


.time{
    width: 100%;
}

.time2{
    width: 100%;
}


.date{
    display: flex;
    align-items: center !important;
    width: 50%;
    padding-top: 3px;
    
}

.date2{
    display: flex;
    width: 50%;
    align-items: center !important;
    padding-top: 3px;
    font-weight: 400;
}

.date::placeholder{
    color:  #B0B0B0 !important;
    
}

.date2::placeholder{
    color:  #B0B0B0 !important;
    
}

    .vl {
        border-left: 2px solid #B4B4B4;
        height: 30px;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 5px;
      }

      
    

@media (max-width: 1000px) {

    .date{
       
        width: 70%;
    }
    
    .date2{
      
        width: 70%;
    }
    
}

.react-time-picker__inputGroup__amPm :focus{
    border: 0px !important;
}






.react-time-picker__inputGroup__input {
    color: #674C9F !important;
    font-weight: 400 !important;
    height: 85% !important;
}



.react-time-picker__inputGroup__input {
    color: #674C9F !important;
    font-weight: 400 !important;
}

.DropDown{
    border-radius: 10px;
    height: 2.5rem;

    
}

.dateimg{
    width: 20px;
    height: 20px;
    margin-top: 9px;
    margin-right: 9px;
}

.dateimg2{
    width: 18px;
    height: 20px;
    margin-top: 9px;
    margin-right: 9px;
}
.dateimg3{
    width: 18px;
    height: 20px;
    margin-top: 9px;
    margin-right: 9px;
}
.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
    font-weight: 400 !important;
}

.react-datepicker__day, .react-datepicker__month-text, .react-datepicker__quarter-text, .react-datepicker__year-text {
    font-weight: 400 !important;
}
.button, input{
    height: 30px !important;
    border: 0px;
    color: #674C9F;
}




.button, input, input2 :focus{
    height: 35px;
    outline: none !important;
    border: 0px solid white !important;
    font-weight: 400;

}


.iQSpGP{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px !important;
    border-radius: 5px !important;
    border: 0.5px solid #674C9F;
    padding: 2px;
}


.dropdown-heading{

color: #E20880 !important;
font-weight: 400 !important;
font-size: 1.1rem !important;
margin-top: 3px;


}

.gray{
    color:  #B0B0B0 !important;
    
}


.dropdown-heading:focus{
     border: 1px solid #674C9F !important;
        box-shadow: 0 0 2px white !important;
}
.dropdown-container{
    border: 0.5px solid #674C9F !important;
    height: 45px !important;
    margin: 0px !important;
    padding: 0px !important;
    }
    .dropdown-container:focus-within{
        border: 0.5px solid #674C9F!important;
        box-shadow: 0 0 0 2px white !important;

    }
    .cZpmt:focus{
        border: 1px solid #674C9F !important;
        box-shadow: 0 0 2px white !important;

    }
.input2{
    border: 0px solid white;
    font-size: 1.1rem;
    margin-top: 2.5px;
    font-weight: 400;
    position: relative;
    color: #35C5F3;
    padding-left: 0.7rem;

}
.input2::placeholder
{
        opacity: 1;
        letter-spacing: 0.10em;
        font-weight: 400;
        color: #B0B0B0 !important;
        
}
@media(max-width: 600px)
{

    .dropdown-heading{
        overflow: hidden !important;
        color: #E20880 !important;
        font-weight: 400;
        
        }
        .date{
          
            width: 80%;
        }
        
        .date2{
           
            width: 80%;
        }

}




