

.DropDown{
    /* border: 0.5px solid #674C9F; */
    border-radius: 10px;
    /* width: 25rem; */
    height: 2.5rem;
    
}

.input{
    /* display: flex;
    flex-grow: inherit; */
    border: 0.5px solid #674C9F;
    height: 40px;
    border-radius: 5px;
    margin-top: 1.5rem;
    width: 100%;
    color: black;
    font-weight: 400;
    position: relative;

}
.input:focus{
    outline: none;

}

.input::placeholder
{
        opacity: 0.6;
        letter-spacing: 0.15em;
}

/* .Date1{
    margin-right: 7rem;
} */

@media(max-width: 600px)
{
.input{
    width: 100%;
}
    .DropDown{
        /* width: 17rem; */
    }
}

@media(max-width: 1000px)
{

    .DropDown{
        /* width: 20rem; */
    }
}



