.chatBox_body{
    width: 75%;
    height: 100vh;
    border-left: 0.5px solid rgb(225, 225, 225);
    
}
.chatBox_body img{
    width: 100%;
    height: 99.7%;
}

.chatBoxTop::-webkit-scrollbar {
    width: 5px;
  }

  .chatBoxTop::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
    opacity: 0.5;
  }

  .chatBoxTop::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: transparent;
  }
  
.w2wmsgshared {
    position: relative; /* Setup a relative container for our psuedo elements */
    max-width: 300px;
    
    padding-left: 5px;
    padding-right: 8px;
    word-wrap: break-word; /* Make sure the text wraps to multiple lines if long */
    border-radius: 25px;
}

.w2wmsgsharedspan{
    position: relative; /* Setup a relative container for our psuedo elements */
    max-width: 300px;
    
    word-wrap: break-word; /* Make sure the text wraps to multiple lines if long */
   
   
}
.w2wmsgshared::before {
      width: 20px;
    }
  
.w2wmsgshared:after {
      width: 26px;
      background-color: var(--bg); /* All tails have the same bg cutout */
    }
  
.w2wmsgshared:before,
.w2wmsgshared:after {
      position: absolute;
      bottom: 0;
      height: 25px; /* height of our bubble "tail" - should match the border-radius above */
      content: '';
}

.w2wmsgsent{
    align-self: flex-end;
    color: white;
    background: #0b93f6;
}

.w2wmsgsent::before {
      right: -7px;
      background-color: #0b93f6;
      border-bottom-left-radius: 26px 24px;
    }
  
.w2wmsgsent::after {
      right: -26px;
      border-bottom-left-radius: 20px;
}
.w2wmsgreceived {
    align-self: flex-start;
    color: black;
    
    background: #e5e5ea;
}
.w2wmsgreceived::before {
      left: -10px;
      
      background-color: #e5e5ea;
      border-bottom-right-radius: 16px 14px;
    }
  
.w2wmsgreceived::after {
      left: -29px;
     
      border-bottom-right-radius: 10px;
    }

.chatBoxNavBar{
    width: 75%;
    height: 8vh;
    position: absolute;
    z-index: 400;
    display: flex;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px rgb(80, 79, 79) solid;
    border-radius: 3px;   
}

.chatBoxEpnsLogo{
    position: absolute;
    left: 46vw;
    top: 0.5rem;
}
.chatBoxEpnsLogo img{
    width: 6rem;

}
.chatBoxUserName{
    display: flex;
    flex-direction: row;
    margin: 10px;
  
}
.chatBoxUserName img{
    width: 2.8rem;
    height: 2.8rem;
    
    border-radius: 20%;
   
}
.askForIntent{
    display: flex;
    font-size: 2rem;
    position: relative;
    justify-content: center;
    text-align: end;
    
    width: 100%;
    height: 100%;
}
.askForIntent p{
    text-align: end;
    position: absolute;
    border: 1px solid rgb(25, 66, 92);
    padding: 10px;
    
    border-radius: 8px;
    color: white;
    background-color: rgb(66, 133, 83);
    top: 35%;
}

.chatBoxWallet{
    font-weight: 510;
    font-size: 1.2rem;
    position: relative;
    top: -1.5rem;
    margin-left: 15px;
}
.chatBoxNavDetail{
    position: relative;
    top: 1rem;
    display: flex;
    flex-direction: row;
}
.chatBoxNavDetail i{
    position: relative;
    top: -0.2rem;
    margin-left: 5px;
    font-size: 1.7rem;
    cursor: pointer;
}
.chatBoxTop{
    height: 65%;
    overflow-y: scroll;
    padding-top: 10vh;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    margin: 0 2px;
    
    
}
.w2wnoTail{
    margin-bottom: 2px;
}
.w2wnoTail::before,::after{
    opacity: 0;
}
.chatBoxBottom {
    
    height: 50px;
    display: flex;
    border-top:1px solid black;
    align-items: center;
    
    padding:6px;
    justify-content: space-between;
}

.chatMessageInput{
    width: 80%;
    height: 39px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border:1px solid black;
    border-style: none;
    resize: none;
    font-size: 1.1rem;
    font-weight: bold;
    
    resize: none;

}
.chatSubmitButton {
    width: 10rem;
    height: 3rem;
    border: none;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
    
    margin-right: 2rem;
    background-color: rgb(58, 103, 137);
    color: white;
}

.emojiButton{
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 5px;
    position: relative;
    left: 0.5rem;
    background-color: transparent;
    cursor: pointer;
    font-weight: 100;
}
.emojiButton i{
    font-size: 3rem;
    position: absolute;
    left: 0rem;
    top: 0;
}
.fa-smile::before{
    content: "\f111";
    color:#f1c40f;
}

.fa-smile::after{
    left: 0;
    position: absolute;
    content: '\f118';
}