.messageFeed_body{
    position: relative;
}

.intentFilter_buttons{
    /* bottom of sidebar */
    width: 100%;
    height: 5%;
    display: flex;
    position: relative;
    background-color: #f7f7f7;
}